<h2 mat-dialog-title *ngIf="isUpdateMode">Mise à jour : {{ form.get('name').value }} ({{ form.get('nameEvent').value }})</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Créer un nouvel événement</h2>

<mat-dialog-content>
  <form novalidate [formGroup]="form">

    <p *ngIf="isUpdateMode">
    </p>

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" [class.mgb15]="form.get('name').dirty && form.get('name').invalid">
            <input matInput placeholder="Nom" formControlName="name" minlength="2" required name="name" />
            <mat-error *ngIf="form.get('name').dirty && form.get('name').hasError('required')">
              Un nom est <strong>Requis</strong>
            </mat-error>
            <mat-error *ngIf="form.get('name').dirty && form.get('name').hasError('minlength')">
              <strong>2 caractères minimum</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom évènement" formControlName="nameEvent" minlength="2" name="nameEvent"/>
            <mat-error *ngIf="form.get('nameEvent').dirty && form.get('nameEvent').hasError('minlength')">
              <strong>2 caractères minimum</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [min]="minDate" [matDatepicker]="giftingEventDatepicker" formControlName="date" required name="date" class="giftingEventDateInput">
            <mat-datepicker-toggle [for]="giftingEventDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #giftingEventDatepicker></mat-datepicker>
          </mat-form-field>


        </td>
      </tr>
    </table>

    <p>
      <mat-checkbox formControlName="asAGift" name="asAGift">Pour offrir</mat-checkbox>
    </p>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
